* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../images/bg_main.gif) repeat-y scroll center top rgba(0, 0, 0, 0);
    background-size: contain;
}

.aling-problem {
    margin: 0px 135px;
}


/* Global css here end */

.top-header {
    background-color: #9e5bba;
    color: #fff;
}

.information-manu {
    background-color: #8cc643;
    display: inline;
    position: relative;
}

.custm-info-btn {
    display: block;
    width: 139px;
    height: 46px;
    margin: 0px -5px -5px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    color: #fff;
    padding: 0px 0px 10px;
}

.custm-info-btn:hover {
    background-color: red;
    color: #fff;
}

.information-manu li {
    list-style-type: none;
    font-size: 12px;
    line-height: 20px;
    margin: 5px;
}

.information-manu::after {
    content: ' ';
    position: absolute;
    background-image: url(../images/infographic-corner.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 58px;
    height: 100%;
}

.cust-menu-bg {
    background-color: #efefef;
}

.main-manu li {
    list-style-type: none;
    transition: .3s;
    border-right: 1px dashed red;
}

.custom-info-second {
    display: block;
    padding: 10px 0px;
    width: 100%;
    font-size: 14px !important;
}

.custom-info-second a {
    text-decoration: none;
    color: #609513;
}

.custom-info-second:hover {
    background-color: red;
}

.custom-info-second:hover a {
    color: #fff;
    display: block;
}

.cust-size-img {
    width: 180px;
}


/* hero-section working start */

.hero-section {}

.cust-marque-des {
    background-color: #e6e7e8;
    font-weight: 700;
}

.uddog-section li {
    list-style-type: none;
    font-size: 14px;
    width: 50%;
    margin-bottom: 15px;
    border-bottom: 2px solid #609513;
}

.jonoprio-menu {
    display: flex;
}

.jonoprio-menu li {
    list-style-type: none;
    margin-right: 50px;
}


/* hero-section working end */


/* footer section  */

.top-footer {
    background-image: url(../images/footer_top_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 84px;
    padding: 55px 0px;
}

.footer-cust-border {
    border-bottom: 3px solid #9E5BBA;
}


/* footer section  */